.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  /* justify-content: flex-end; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  margin: 2rem 0;
}

.main {
  padding: 1rem 0 5rem;
}

.main div {
  margin: 2rem;
}

.main button {
  color: white;
  background-color: #333;
  border: none;
  padding: 1rem 3rem;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

footer section {
  width: 90vw;
}

address {
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 1rem;
}

span {
  font-size: 0.8rem;
}

.App-link {
  color: #61dafb;
}

.hide img {
  width: 60%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
